@font-face {
  font-family: "iconfont"; /* Project id 2478639 */
  src: url('iconfont.woff2?t=1620290058674') format('woff2'),
      url('iconfont.woff?t=1620290058674') format('woff'),
       url('iconfont.ttf?t=1620290058674') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiao210:before {
  content: "\e61b";
}

.icon-shijianzhongbiao2:before {
  content: "\e811";
}

.icon-xiaomi:before {
  content: "\e69d";
}

.icon-weibo:before {
  content: "\e63d";
}

.icon-sousuo1:before {
  content: "\e622";
}

.icon-sousuo:before {
  content: "\e652";
}

